<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
<h1>登录页</h1>
<div>
    <form action="/login/form" method="POST">
        <input id="username" name="username" type="text" size="25"></input>
        <input id="password" name="password" type="password" size="25"></input>
        <button type="submit">Login In</button>
    </form>
    <form action="/sms/login" method="POST">
        <input id="sms" name="sms" type="text" size="25"></input>
        <button type="submit">Sms Login In</button>
    </form>
    <a href="/oauth2/authorization/github">Github登录</a>
    <a href="/oauth2/authorization/qq">QQ登录</a>
</div>
</body>
</html>