<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.auth.user.dao.AddrMapper">
  <!-- 结果集映射 -->
  <resultMap id="BaseResultMap" type="com.panda.auth.user.entity.Addr">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="address2" jdbcType="VARCHAR" property="address2" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="zip_code" jdbcType="VARCHAR" property="zipCode" />
  </resultMap>
  
  <!-- 属性列表 -->
  <sql id="Base_Column_List">
    <trim suffixOverrides=",">
      user_id,
      address,
      address2,
      city,
      country,
      zip_code,
    </trim>
  </sql>
  
  <!-- 普通插入属性列表，注意与Base_Column_List属性列表一一对应 -->
  <sql id="Insert_Property_List">
    <trim suffixOverrides=",">
      #{data.userId,jdbcType=BIGINT},
      #{data.address,jdbcType=VARCHAR},
      #{data.address2,jdbcType=VARCHAR},
      #{data.city,jdbcType=VARCHAR},
      #{data.country,jdbcType=VARCHAR},
      #{data.zipCode,jdbcType=VARCHAR},
    </trim>
  </sql>
  
  <!-- 普通修改属性列表（非主键属性） -->
  <sql id="Update_Property_List">
    <trim suffixOverrides=",">
      address = #{data.address,jdbcType=VARCHAR},
      address2 = #{data.address2,jdbcType=VARCHAR},
      city = #{data.city,jdbcType=VARCHAR},
      country = #{data.country,jdbcType=VARCHAR},
      zip_code = #{data.zipCode,jdbcType=VARCHAR},
    </trim>
  </sql>
  
  <!-- 动态修改属性列表（非主键属性） -->
  <sql id="Update_Selective_Property_List">
    <trim suffixOverrides=",">
      <if test="data.address != null">
        address = #{data.address,jdbcType=VARCHAR},
      </if>
      <if test="data.address2 != null">
        address2 = #{data.address2,jdbcType=VARCHAR},
      </if>
      <if test="data.city != null">
        city = #{data.city,jdbcType=VARCHAR},
      </if>
      <if test="data.country != null">
        country = #{data.country,jdbcType=VARCHAR},
      </if>
      <if test="data.zipCode != null">
        zip_code = #{data.zipCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </sql>
  
  <!-- 动态查询属性列表（所有属性） -->
  <sql id="Select_Selective_Property_List">
    <trim suffixOverrides=",">
      <if test="userId != null">
        and user_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="address != null">
        and address = #{address,jdbcType=VARCHAR}
      </if>
      <if test="address2 != null">
        and address2 = #{address2,jdbcType=VARCHAR}
      </if>
      <if test="city != null">
        and city = #{city,jdbcType=VARCHAR}
      </if>
      <if test="country != null">
        and country = #{country,jdbcType=VARCHAR}
      </if>
      <if test="zipCode != null">
        and zip_code = #{zipCode,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  
  <insert id="insert">
    insert into sys_addr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Insert_Property_List" />
    </trim>
  </insert>
  <insert id="insertBatch">
    insert into sys_addr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    values
    <foreach collection="dataCollection" item="data" separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <include refid="Insert_Property_List" />
      </trim>
    </foreach>
  </insert>
  <update id="updateByPrimaryKey">
    update sys_addr
    <set>
      <include refid="Update_Property_List" />
    </set>
    where user_id = #{data.userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeySelective">
    update sys_addr
    <set>
      <include refid="Update_Selective_Property_List" />
    </set>
    where user_id = #{data.userId,jdbcType=BIGINT}
  </update>
  <update id="updateBatch">
    <foreach collection="dataCollection" item="data" separator=";">
      update sys_addr
      <set>
        <include refid="Update_Selective_Property_List" />
      </set>
      where user_id = #{data.userId,jdbcType=BIGINT}
    </foreach>
  </update>
  <delete id="deleteByPrimaryKey">
    delete from sys_addr
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByIdCollection">
    delete from sys_addr
    <where>
      <choose>
        <when test="idCollection == null or idCollection.size == 0">
          and false
        </when>
        <otherwise>
          and user_id in 
          <foreach close=")" collection="idCollection" item="id" open="(" separator=",">
            #{id,jdbcType=BIGINT}
          </foreach>
        </otherwise>
      </choose>
    </where>
  </delete>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_addr
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <select id="selectByIdCollection" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_addr
    <where>
      <choose>
        <when test="idCollection == null or idCollection.size == 0">
          and false
        </when>
        <otherwise>
          and user_id in 
          <foreach close=")" collection="idCollection" item="id" open="(" separator=",">
            #{id,jdbcType=BIGINT}
          </foreach>
        </otherwise>
      </choose>
    </where>
  </select>
  <select id="listSelective" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_addr
    <where>
      <include refid="Select_Selective_Property_List" />
    </where>
  </select>
  <select id="listQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_addr
  </select>
  
  <!-- 以上代码由MbgCode自动生成2022-08-10 15:10:40 -->



  <!-- 以下为您的代码 -->
  
</mapper>