<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.auth.user.dao.PermInfoMapper">
  <!-- 结果集映射 -->
  <resultMap id="BaseResultMap" type="com.panda.auth.user.entity.PermInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  
  <!-- 属性列表 -->
  <sql id="Base_Column_List">
    <trim suffixOverrides=",">
      id,
      permission,
      enabled,
      note,
    </trim>
  </sql>
  
  <!-- 普通插入属性列表，注意与Base_Column_List属性列表一一对应 -->
  <sql id="Insert_Property_List">
    <trim suffixOverrides=",">
      #{data.id,jdbcType=BIGINT},
      #{data.permission,jdbcType=VARCHAR},
      #{data.enabled,jdbcType=INTEGER},
      #{data.note,jdbcType=VARCHAR},
    </trim>
  </sql>
  
  <!-- 普通修改属性列表（非主键属性） -->
  <sql id="Update_Property_List">
    <trim suffixOverrides=",">
      permission = #{data.permission,jdbcType=VARCHAR},
      enabled = #{data.enabled,jdbcType=INTEGER},
      note = #{data.note,jdbcType=VARCHAR},
    </trim>
  </sql>
  
  <!-- 动态修改属性列表（非主键属性） -->
  <sql id="Update_Selective_Property_List">
    <trim suffixOverrides=",">
      <if test="data.permission != null">
        permission = #{data.permission,jdbcType=VARCHAR},
      </if>
      <if test="data.enabled != null">
        enabled = #{data.enabled,jdbcType=INTEGER},
      </if>
      <if test="data.note != null">
        note = #{data.note,jdbcType=VARCHAR},
      </if>
    </trim>
  </sql>
  
  <!-- 动态查询属性列表（所有属性） -->
  <sql id="Select_Selective_Property_List">
    <trim suffixOverrides=",">
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="permission != null">
        and permission = #{permission,jdbcType=VARCHAR}
      </if>
      <if test="enabled != null">
        and enabled = #{enabled,jdbcType=INTEGER}
      </if>
      <if test="note != null">
        and note = #{note,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  
  <insert id="insert">
    insert into sys_perm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Insert_Property_List" />
    </trim>
  </insert>
  <insert id="insertBatch">
    insert into sys_perm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    values
    <foreach collection="dataCollection" item="data" separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <include refid="Insert_Property_List" />
      </trim>
    </foreach>
  </insert>
  <update id="updateByPrimaryKey">
    update sys_perm
    <set>
      <include refid="Update_Property_List" />
    </set>
    where id = #{data.id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeySelective">
    update sys_perm
    <set>
      <include refid="Update_Selective_Property_List" />
    </set>
    where id = #{data.id,jdbcType=BIGINT}
  </update>
  <update id="updateBatch">
    <foreach collection="dataCollection" item="data" separator=";">
      update sys_perm
      <set>
        <include refid="Update_Selective_Property_List" />
      </set>
      where id = #{data.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <delete id="deleteByPrimaryKey">
    delete from sys_perm
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByIdCollection">
    delete from sys_perm
    <where>
      <choose>
        <when test="idCollection == null or idCollection.size == 0">
          and false
        </when>
        <otherwise>
          and id in 
          <foreach close=")" collection="idCollection" item="id" open="(" separator=",">
            #{id,jdbcType=BIGINT}
          </foreach>
        </otherwise>
      </choose>
    </where>
  </delete>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_perm
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByIdCollection" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_perm
    <where>
      <choose>
        <when test="idCollection == null or idCollection.size == 0">
          and false
        </when>
        <otherwise>
          and id in 
          <foreach close=")" collection="idCollection" item="id" open="(" separator=",">
            #{id,jdbcType=BIGINT}
          </foreach>
        </otherwise>
      </choose>
    </where>
  </select>
  <select id="listSelective" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_perm
    <where>
      <include refid="Select_Selective_Property_List" />
    </where>
  </select>
  <select id="listQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_perm
  </select>
  
  <!-- 以上代码由MbgCode自动生成2022-08-09 14:35:22 -->



  <!-- 以下为您的代码 -->
  <!-- 结果集映射 -->
  <resultMap id="BaseResultMap" type="com.panda.auth.user.entity.PermInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  
  <!-- 属性列表 -->
  <sql id="Base_Column_List">
    <trim suffixOverrides=",">
      id,
      permission,
      enabled,
      note,
    </trim>
  </sql>
  
  <!-- 普通插入属性列表，注意与Base_Column_List属性列表一一对应 -->
  <sql id="Insert_Property_List">
    <trim suffixOverrides=",">
      #{data.id,jdbcType=BIGINT},
      #{data.permission,jdbcType=VARCHAR},
      #{data.enabled,jdbcType=INTEGER},
      #{data.note,jdbcType=VARCHAR},
    </trim>
  </sql>
  
  <!-- 普通修改属性列表（非主键属性） -->
  <sql id="Update_Property_List">
    <trim suffixOverrides=",">
      permission = #{data.permission,jdbcType=VARCHAR},
      enabled = #{data.enabled,jdbcType=INTEGER},
      note = #{data.note,jdbcType=VARCHAR},
    </trim>
  </sql>
  
  <!-- 动态修改属性列表（非主键属性） -->
  <sql id="Update_Selective_Property_List">
    <trim suffixOverrides=",">
      <if test="data.permission != null">
        permission = #{data.permission,jdbcType=VARCHAR},
      </if>
      <if test="data.enabled != null">
        enabled = #{data.enabled,jdbcType=INTEGER},
      </if>
      <if test="data.note != null">
        note = #{data.note,jdbcType=VARCHAR},
      </if>
    </trim>
  </sql>
  
  <!-- 动态查询属性列表（所有属性） -->
  <sql id="Select_Selective_Property_List">
    <trim suffixOverrides=",">
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="permission != null">
        and permission = #{permission,jdbcType=VARCHAR}
      </if>
      <if test="enabled != null">
        and enabled = #{enabled,jdbcType=INTEGER}
      </if>
      <if test="note != null">
        and note = #{note,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  
  <insert id="insert">
    insert into sys_perm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Insert_Property_List" />
    </trim>
  </insert>
  <insert id="insertBatch">
    insert into sys_perm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    values
    <foreach collection="dataCollection" item="data" separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <include refid="Insert_Property_List" />
      </trim>
    </foreach>
  </insert>
  <update id="updateByPrimaryKey">
    update sys_perm
    <set>
      <include refid="Update_Property_List" />
    </set>
    where id = #{data.id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeySelective">
    update sys_perm
    <set>
      <include refid="Update_Selective_Property_List" />
    </set>
    where id = #{data.id,jdbcType=BIGINT}
  </update>
  <update id="updateBatch">
    <foreach collection="dataCollection" item="data" separator=";">
      update sys_perm
      <set>
        <include refid="Update_Selective_Property_List" />
      </set>
      where id = #{data.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <delete id="deleteByPrimaryKey">
    delete from sys_perm
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByIdCollection">
    delete from sys_perm
    <where>
      <choose>
        <when test="idCollection == null or idCollection.size == 0">
          and false
        </when>
        <otherwise>
          and id in 
          <foreach close=")" collection="idCollection" item="id" open="(" separator=",">
            #{id,jdbcType=BIGINT}
          </foreach>
        </otherwise>
      </choose>
    </where>
  </delete>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_perm
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByIdCollection" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_perm
    <where>
      <choose>
        <when test="idCollection == null or idCollection.size == 0">
          and false
        </when>
        <otherwise>
          and id in 
          <foreach close=")" collection="idCollection" item="id" open="(" separator=",">
            #{id,jdbcType=BIGINT}
          </foreach>
        </otherwise>
      </choose>
    </where>
  </select>
  <select id="listSelective" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_perm
    <where>
      <include refid="Select_Selective_Property_List" />
    </where>
  </select>
  <select id="listQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_perm
  </select>
  
  <!-- 以上代码由MbgCode自动生成2022-08-09 14:34:14 -->



  <!-- 以下为您的代码 -->
  <!-- 结果集映射 -->
  <resultMap id="BaseResultMap" type="com.panda.auth.user.entity.PermInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="enabled" jdbcType="INTEGER" property="enabled" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  
  <!-- 属性列表 -->
  <sql id="Base_Column_List">
    <trim suffixOverrides=",">
      id,
      permission,
      enabled,
      note,
    </trim>
  </sql>
  
  <!-- 普通插入属性列表，注意与Base_Column_List属性列表一一对应 -->
  <sql id="Insert_Property_List">
    <trim suffixOverrides=",">
      #{data.id,jdbcType=BIGINT},
      #{data.permission,jdbcType=VARCHAR},
      #{data.enabled,jdbcType=INTEGER},
      #{data.note,jdbcType=VARCHAR},
    </trim>
  </sql>
  
  <!-- 普通修改属性列表（非主键属性） -->
  <sql id="Update_Property_List">
    <trim suffixOverrides=",">
      permission = #{data.permission,jdbcType=VARCHAR},
      enabled = #{data.enabled,jdbcType=INTEGER},
      note = #{data.note,jdbcType=VARCHAR},
    </trim>
  </sql>
  
  <!-- 动态修改属性列表（非主键属性） -->
  <sql id="Update_Selective_Property_List">
    <trim suffixOverrides=",">
      <if test="data.permission != null">
        permission = #{data.permission,jdbcType=VARCHAR},
      </if>
      <if test="data.enabled != null">
        enabled = #{data.enabled,jdbcType=INTEGER},
      </if>
      <if test="data.note != null">
        note = #{data.note,jdbcType=VARCHAR},
      </if>
    </trim>
  </sql>
  
  <!-- 动态查询属性列表（所有属性） -->
  <sql id="Select_Selective_Property_List">
    <trim suffixOverrides=",">
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="permission != null">
        and permission = #{permission,jdbcType=VARCHAR}
      </if>
      <if test="enabled != null">
        and enabled = #{enabled,jdbcType=INTEGER}
      </if>
      <if test="note != null">
        and note = #{note,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  
  <insert id="insert">
    insert into sys_perm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Insert_Property_List" />
    </trim>
  </insert>
  <insert id="insertBatch">
    insert into sys_perm
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <include refid="Base_Column_List" />
    </trim>
    values
    <foreach collection="dataCollection" item="data" separator=",">
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <include refid="Insert_Property_List" />
      </trim>
    </foreach>
  </insert>
  <update id="updateByPrimaryKey">
    update sys_perm
    <set>
      <include refid="Update_Property_List" />
    </set>
    where id = #{data.id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeySelective">
    update sys_perm
    <set>
      <include refid="Update_Selective_Property_List" />
    </set>
    where id = #{data.id,jdbcType=BIGINT}
  </update>
  <update id="updateBatch">
    <foreach collection="dataCollection" item="data" separator=";">
      update sys_perm
      <set>
        <include refid="Update_Selective_Property_List" />
      </set>
      where id = #{data.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <delete id="deleteByPrimaryKey">
    delete from sys_perm
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByIdCollection">
    delete from sys_perm
    <where>
      <choose>
        <when test="idCollection == null or idCollection.size == 0">
          and false
        </when>
        <otherwise>
          and id in 
          <foreach close=")" collection="idCollection" item="id" open="(" separator=",">
            #{id,jdbcType=BIGINT}
          </foreach>
        </otherwise>
      </choose>
    </where>
  </delete>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_perm
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByIdCollection" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_perm
    <where>
      <choose>
        <when test="idCollection == null or idCollection.size == 0">
          and false
        </when>
        <otherwise>
          and id in 
          <foreach close=")" collection="idCollection" item="id" open="(" separator=",">
            #{id,jdbcType=BIGINT}
          </foreach>
        </otherwise>
      </choose>
    </where>
  </select>
  <select id="listSelective" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_perm
    <where>
      <include refid="Select_Selective_Property_List" />
    </where>
  </select>
  <select id="listQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_perm
  </select>
  
  <!-- 以上代码由MbgCode自动生成2022-08-09 14:12:21 -->



  <!-- 以下为您的代码 -->
  
</mapper>